<h1 align="center">Edit Wiki</h1>

<div class="container container-mine">
    <%= render partial: "form", locals: {wiki: @wiki, submit_text: "Update"} %>
    
    <br>
    <br>

    <!-- collaborators view - only to be seen if you can edit collaborators-->
    <%if @wiki.private && (@wiki.user == current_user || current_user.admin?) %>
        <div class="form-group container container-mine">
            <h4>Current Collaborators</h4>
            <ul>
                <%@wiki.collaborators.each do |collaborator|%>
                    <li><%=collaborator.user.email%>    <%= link_to  "x", "/wikis/#{@wiki.id}/collaborators/#{collaborator.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %></li> 
                <%end%>
            </ul>
            <br>
            <h4>Add Collaborators</h4>
            <div class="form-group">
                <%= form_tag("/wikis/#{@wiki.id}/collaborators", method: "post") do %> 
                    <%= collection_select(:collaborator, :user, User.all.sort_by{|user| user.email}, :id, :email, {}, {:class=>'form-control', :multiple=>true, :required=>true}) %> <br>
                    <%=submit_tag("Add as a collaborator", class: "btn btn-outline-success btn-sm")%>
                <% end %>
            </div>
        </div>
    <%end%>
</div>