<h1 align="center">Edit Wiki</h1>

<div class="container container-mine">
    <%= form_for(@wiki) do |f| %>
        <div class="form-group">
            <%= f.label (:title) %>
            <%= f.text_field (:title), class: "form-control form-control-lg"%>
        </div>    
        
        <div class="form-group">
            <%= f.label (:body) %>
            <%= f.text_area (:body), class: "form-control", rows: 12 %>
        </div>
        
        <% if current_user.standard? %>
            <div class="form-check">
                <%= f.check_box (:private), class: "form-check-input", disabled: true%>
                <input type="hidden" id="wiki_private" name="wiki[private]" value="0"/>
                <%= f.label (:private), class: "form-check-label" %>
                <small class="form-text text-muted">Only Premium Users can privatize wikis</small>
            </div>
        <%elsif current_user.premium? && @wiki.user != current_user %>
            <div class="form-check">
                <%= f.check_box (:private), class: "form-check-input", disabled: true%>
                <%if @wiki.private == true%>
                    <input type="hidden" id="wiki_private" name="wiki[private]" value="1"/>
                <%else%>
                    <input type="hidden" id="wiki_private" name="wiki[private]" value="0"/>
                <%end%>
                <%= f.label (:private), class: "form-check-label" %>
                <small class="form-text text-muted">You can only change private status of your own wiki</small>
            </div>
        <%else%>
            <div class="form-check">
                <%= f.check_box (:private), class: "form-check-input"%>
                <%= f.label (:private), class: "form-check-label" %>
                <small class="form-text text-muted">You can only change private status of your own wiki</small>
            </div>
        <%end%>
        
        <div class="form-group text-center">
            <%= f.submit ("Update"), class: "btn btn-success btn-lg" %>
        </div>
    <% end %>

    <!-- collaborators view -->
    <%if @wiki.user == current_user || current_user.admin? %>
        <div>
            <ul>
                <%@wiki.users.each do |user|%>
                    <li><%=user.email%></li> <%= link_to  "Delete Collaborator", "#", class: "btn btn-outline-danger btn-sm" %>
                <%end%>
            </ul>
            <%= link_to  "Create New Collaborator", "#", class: "btn btn-outline-success btn-sm" %>
        </div>
    <%end%>
</div>
