<h1>Wiki's Home Page</h1>

<hr>

<%= link_to "Create New Wiki", new_wiki_path, class: "btn btn-success" %>

<br>
<br>

<h2>Public Wikis</h2>
<%@wikis.each do |wiki|%>
    <%if wiki.private == false%>
        <p><%=link_to(wiki.title, wiki_path(wiki.id))%></p>
        <small>
            Created <%=time_ago_in_words(wiki.created_at)%> ago
        </small>
        <br>
        <br>
    <%end%>
<%end%>

<hr>

<h2>Private Wikis</h2>
<%@wikis.each do |wiki|%>
    <%if wiki.private == true%>
        <p><%=link_to(wiki.title, wiki_path(wiki.id))%></p>
        <small>
            Created <%=time_ago_in_words(wiki.created_at)%> ago
        </small>
        <br>
        <br>
    <%end%>
<%end%>

<hr>