<div class="container container-mine">
    <h1>Wiki's Home Page</h1>

    <hr>

    <%= link_to "Create New Wiki", new_wiki_path, class: "btn btn-success" %>

    <br>
    <br>

    <%@wikis.each do |wiki|%>
            <p class="p-mine"><%=link_to(wiki.title, wiki_path(wiki.id))%></p>
            <small>
                Created by <%=wiki.user.email%><br>
                <%=relationship_to_wiki(wiki, current_user)%>
                <%=time_ago_in_words(wiki.created_at)%> ago
            </small>
            <br>
            <br>
    <%end%>
</div>