<h1>Wiki's Home Page</h1>

<hr>

<%= link_to "Create New Wiki", new_wiki_path, class: "btn btn-success" %>

<br>
<br>

<h2>Public Wikis</h2>
<%@wikis.each do |wiki|%>
    <%if wiki.private == false%>
        <p class="p-mine"><%=link_to(wiki.title, wiki_path(wiki.id))%></p>
        <small>Public Wiki <br></small>
        <small>
            Created by <%=wiki.user.email%> <br> 
            <%=time_ago_in_words(wiki.created_at)%> ago
        </small>
        <br>
        <br>
    <%end%>
<%end%>

<hr>

<h2>Private Wikis</h2>
<h3 class="premium-title">Premium Members Only</h3>
<%@wikis.each do |wiki|%>
    <%if wiki.private == true%>
        <p class="p-mine"><%=link_to(wiki.title, wiki_path(wiki.id))%></p>
        <small class="small-mine"> Private Wiki <br></small>
        <small>
            Created by <%=wiki.user.email%> <br> 
            <%=time_ago_in_words(wiki.created_at)%> ago
        </small>
        <br>
        <br>
    <%end%>
<%end%>

<hr>